body {
        font-family: Arial, sans-serif;
        background-image: linear-gradient(
          90.5deg,
          rgba(112, 181, 176, 1) 1.9%,
          rgba(220, 244, 241, 1) 87.7%
        );
        color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        padding: 20px;
      }
      .title {
        text-align: center;
        font-size: 38px;
        color: #060505;
        text-shadow: 2px 2px 4px rgba(72, 67, 67, 0.2);
        margin-bottom: 30px;
        font-weight: bold;
      }

      /* Mobile font adjustment */
      @media (max-width: 600px) {
        .title {
          font-size: 24px;
          margin-bottom: 20px;
        }
      }
      .quote-container {
        display: inline-block;
        background-image: radial-gradient(
          circle 476px at 54.8% 51.5%,
          rgb(203, 245, 234) 0%,
          rgb(181, 229, 210) 42.3%,
          rgb(30, 224, 140) 100.2%
        );
        justify-content: center;
        padding: 30px 40px;
        border-radius: 15px;
        box-shadow: 0 2px 10px rgba(0, 0, 0.1, 0.1);
        text-align: center;
        max-width: 600px;
        width: 100%;

        transition: transform 0.3s ease;
      }
      .quote-container:hover {
        box-shadow: 0 19px 20px rgba(0, 0, 0, 0.2);
        transform: scale(1.02);
      }
      .quote-text {
        font-size: 24px;
        margin-bottom: 10px;
        line-height: 1.4;
        transition: opacity 0.6s ease;
      }
      .quote-author {
        font-size: 18px;
        color: #555;
        margin-bottom: 20px;
        font-style: italic;
        transition: opacity 0.6s ease;
      }

      .btn {
        background-image: linear-gradient(
          to right,
          #1b9063 0%,
          #0fffc3 51%,
          #70f9e2 100%
        );
      }
      .btn {
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: rgb(17, 1, 1);
        box-shadow: 0 0 1px #000000;
        border-radius: 10px;
        display: inline;
        border-style: none;
        font-size: 16px;
        font-weight: bold;
      }

      .btn:hover {
        background-position: right center; /* change the direction of the change here */
        color: #1d2123;
        text-decoration: none;
      }
    
        @media (max-width: 600px) {
            .quote-text {
            font-size: 18px;
            }
            .quote-author {
            font-size: 14px;
            }
            .btn {
            padding: 12px 30px;
            font-size: 14px;
            }
        }